<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden scroll-smooth group" data-mode="light" dir="ltr">
<head>

  <%- HeaderCss %>

  <%- include ('../partials/head-css.ejs') %>

</head>

<%- body%>
  <%- include ('../partials/vendor-scripts') %>
  <%- FooterJs %>

</body>

</html>